<div class="container mt-5">
  <h1 class="main-header">My bookings</h1>
    <% @bookings.each do |booking| %>
      <div class="card-booking mb-3">
        <img src=<%= cl_image_path booking.notdog.photo.key, height: 500, width: 700, crop: :fill %> >
          <div class="card-booking-infos">
            <div>
                <p class="text-black-50"><%= booking.notdog.taxonomy_fantasy_name %> (<%= booking.notdog.taxonomy_name %>)</p>
                <h2><%= link_to booking.notdog.name, notdog_path(booking.notdog) %></h2>
                <p><%= booking.start_date %> - <%= booking.end_date %></p>
                <p><%= booking.notdog.address  %></p>
                <p class=>USD$<%= booking.price %></p>
                <!-- Accept/Decline booking -->
                <% case booking.status %>
                <% when "pending" %>
                <p style="color: #e59500; font-weight: bolder">Pending</p>
                <% when "accepted" %>
                <p style="color: green; font-weight: bolder">Accepted</p>
                <% when "declined" %>
                <p style="color: red; font-weight: bolder">Declined</p>
                <% end %>
                <hr>
                <%= link_to "See booking", booking_path(booking), class: "see-booking" %>
              </div>
        </div>
    </div>
   <% end %>
</div>

