<div id="main-index-div">
  <div class="cards mt-0">
    <h1 class="main-header mb-0">Welcome to a unique experience!</h1>
    <p class="pb-3 mb-0">We have <%= pluralize(@notdogs.count.round, "notdog") %> available for booking!</p>
    <% @notdogs.each do |notdog| %>
        <div class="card-notdog my-0 py-3 border-top">
          <img class="card-notdog-img", src=<%= cl_image_path notdog.photo.key, height: 400, width: 500, crop: :fill %> >
          <div class="card-notdog-infos">
            <%= link_to notdog_path(notdog) do %>
            <div>
              <p class="text-black-50"><%= notdog.taxonomy_fantasy_name %> (<%= notdog.taxonomy_name %>)</p>
            <h2><%= notdog.name %></h2>
              <p><%= notdog.description %></p>

              <% if !notdog.reviews.empty? %>
              <div class="d-flex flex-nowrap align-items-center" >
                <%= notdog.average_score %>
                <% notdog.average_score.times do %>
                <i class="fas fa-star" style="color: #ffcd3c"></i>
                  <% end %>
                <% (5 - notdog.average_score).times do %>
                  <i class="far fa-star" style="color: #ffcd3c"></i>
                <% end %>
              </div>
              <% else %>
                <p>No reviews yet <i class="far fa-frown" style="color: #ffcd3c"></i></p>
              <% end %>

            </div>
          <% if notdog.owner.photo.attached? %>
              <%= cl_image_tag notdog.owner.photo.key, class: "card-notdog-user avatar-bordered" %>
            <% else %>
              <%= image_tag "https://www.jdevoto.cl/web/wp-content/uploads/2018/04/default-user-img.jpg", class: "card-notdog-user avatar-bordered" %>
            <% end %>
            <p class="card-notdog-pricing"><strong>USD$<%= notdog.cost_per_day %></strong>/day</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="container" id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>">
  </div>
</div>

