<div class="container show-container">
  <h1><%= @notdog.name %></h1>
  <div class="row show-row">
    <div class="col-lg-3 col-6">

      <!-- Card -->
          <div class="card-notdog mb-3">
            <img src=<%= cl_image_path @notdog.photo.key, height: 500, width: 700, crop: :fill %> >
            <div class="card-notdog-infos">
              <div>
                <p class="text-black-50"><%= @notdog.taxonomy_fantasy_name %> (<%= @notdog.taxonomy_name %>)</p>
                <h2><%= link_to @notdog.name, notdog_path(@notdog) %></h2>
                <p><%= @notdog.description %></p>
              </div>
                  <p class="card-notdog-pricing">USD$<%= @notdog.cost_per_day %></p>
            </div>

            <div class="book-button">
             <%= link_to "Book this Notdog", new_notdog_booking_path(@notdog), class: "btn btn-primary book-button" %>
            </div>
          </div>
    </div>

      <!-- Details & Map -->
    <div class="infos">

      <div class="col-log-4 details">
        <h2>Other details:</h2>
        <p>Owner: <%= @notdog.owner.name %> </p>
        <p>Fantasy name: <%= @notdog.taxonomy_fantasy_name %></p>
        <p>Cost per day: <%= @notdog.cost_per_day %></p>
        <p>Location: <%= @notdog.address %></p>
      </div>

      <div class="map">
        <h1>map placeholder</h1>
      </div>


      <!-- Update & Delete -->
      <div>
        <% if policy(@notdog).destroy? %>
          <%= link_to "Delete", notdog_path(@notdog), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }  %>
        <% end %>

        <% if policy(@notdog).update? %>
          <%= link_to "Edit", edit_notdog_path(@notdog) %>
        <% end %>
      </div>

    </div>

  </div>
</div>

<div class="container messages-container">
  <div class="row messages-row">
    <div class="col-lg-6 col-6">
      <h2>Q&A</h2>
      <div class="messages">
        <%= link_to "Unsure? Ask a question", new_notdog_message_path(@notdog) %>

        <% @messages.each do |message| %>
          <%= message.body %>
        <% end %>



      </div>
    </div>
  </div>
</div>




