<div class='container'>
  <div class="form-group">
    <%= simple_form_for [ @booking, @review ] do |f| %>
      <%= f.error_notification %>
      <%= f.input :user_review, as: :text, :label => "Review", placeholder: "Escribe una reseña sobre tu experiencia" %>
      <%= f.input :user_score, label: "Score", collection: 1..5 %>
      <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
